body{
    font-family: 'Times New Roman', Times, serif;
}


/* Inicia Header */
.navfixed{
position: fixed;
width: 100%;
z-index: 100;
}

#logo{
    width: 8rem;
    height: auto;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(8,1fr);
  
}

#busto{
    width: 98vw;
    grid-column: 1/9;
    grid-row: 1/9;
}

#bannlogo{
    width: 90%;
    height: auto;
    grid-column: 7/9;
    grid-row: 8/9;
    opacity: 25%;
}
/* termina header */
/* estilos de las tarjetas de fotos */
#h6{
    margin-top: 2rem;
    height: 10%;
    font-size: larger;
}
p{
    padding: 20%;
}

.col-md-4{
    margin-bottom: 1rem;
}
h4{
    margin: 2rem;
    margin-top: 4rem;
    text-align: center;
    color: lightgray;
    font-size: medium;
  
}
.fototarjeta{
    width: 100%;
    height: auto;
    transition: all 50ms ease-out;
}


.figure{
position: relative;
width: 100%;
cursor: pointer;
}

.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(128, 128, 128,0.4);
    visibility: hidden;
    text-align: center;
    opacity: 25%;
}
.figure:hover> .capa{
    opacity: 1;
    visibility: visible;
}
/* inicia sobre mi 2 diseño mobile */

.cris{
    padding: 30px;
    width: 400px;
    height: auto;
}
.crisp{
    text-align: center;
    padding: 30px;
    width: 341px;
    height: auto;
}

/* sobre mi fin diseño mobile  */

/* inicia sobre mi  */

@media screen and (min-width:768px){

    .contenedormi{
        display: flex;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,25vh);

    }

    #cris1{
        width: 550px;
        height: auto;

    }
    #pmi1{
        margin: 25%;
        text-align: center;
        display: flex;
        width: 450px;
        height: auto;
    }
            /* termina sobre mi */
        /* inicia statement */
    .contenedorinte{
        display: flex;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,25vh);

    }
    #cris2{
        width: 550px;
        height: auto;
    }

    #pmi2{
        margin: 25%;
        text-align: center;
        display: flex;
        width: 450px;
        height: auto;;
        
    }
           /* termina statement */
}

/* inicia fotografía */
  
  .foto{

    width: 400px;
    height: auto;
  }

  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 550px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    margin-top: 40px;
    width: 550;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    margin-top: 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 20px;
    border-radius: 100%;
  }

  /* termina fotografía */